body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
}

#chat-container {
    width: 90vw;
    max-width: 800px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

#messages {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

div#messages > div {
    padding: 10px 5px 20px;
    border-bottom: 2px solid cornflowerblue;
    margin-bottom: 10px;
}

#chatForm {
    text-align: center;
}

#input-box {
    width: calc(100% - 60px);
    height: 50px;
    padding: 5px;
}

.buttons {
    margin: 10px;
}

.button-flat {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-flat:hover {
    background-color: #45a049;
}

.button-gradient {
    background: linear-gradient(45deg, #ff6f91, #ff9671);
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button-gradient:disabled {
    background: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

.button-gradient:hover:not(:disabled) {
    transform: scale(1.05);
}

